<div class="container">
  <h1>Convert Data</h1>
  <div class="row">
    <div class="col-sm-3">
      <select class="form-control" [(ngModel)]="typeInputData" name="" id="">
        <option selected value="String">String</option>
        <option value="Base64">Base64</option>
        <option value="Hex">Hex</option>
      </select>
      <textarea
        class="form-control"
        rows="4"
        [(ngModel)]="inputData"
      ></textarea>
    </div>
    <div class="col-sm-1 pr-9 text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"
        />
      </svg>
    </div>
    <div class="col-sm-3">
      <select class="form-control" [(ngModel)]="typeOutputData" name="" id="">
        <option value="String">String</option>
        <option value="Base64">Base64</option>
        <option value="Hex">Hex</option>
      </select>
      <textarea
        class="form-control"
        readonly
        [(ngModel)]="outputData"
        rows="4"
      ></textarea>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-2">
      <button class="btn btn-success" (click)="sendDataToDotNetCore()">
        Click to Convert
      </button>
    </div>
  </div>
</div>
<style>
  textarea {
    resize: none;
  }
  textarea:read-only {
    background-color: #f8f9fa;
  }
</style>
